.nav {
  margin: 0 auto;
  max-width: 80%;
  padding: 0 0.5rem;
}

.main {
  margin: 0 auto;
  max-width: 80%;
  min-height: 75vh;
  padding: 3rem 0.5rem;
}

.footer {
  background-color: yellow;
  margin: 0 auto;
  max-width: 80%;
  padding: 0.5rem;
}